body {
  background-color: #C4DFFF;
  font-family: "Consolas", "Calibri", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

div {
  transition-duration: 2s;
}
input {
  transition-duration: 2s;
}

div#content {
}

div#gauche {
  float: left;
  background-color: #547FB2;
  margin: 1% 0.5% 1% 1%;
  padding: 0.5%;
  width: 20%;
  position: fixed;
  left: 0%;
}
div#logo {
  margin: auto;
  padding: 2px;
  background-image: url("../logo.png");
  background-repeat: no-repeat;
  width:130px;
  height:130px;
}
div#titre {
  font-weight: bold;
  color: white;
}

div#principal {
  float:left;
  background-color: #547FB2;
  margin: 1% 1% 1% 0.5%;
  padding:0.5% 0.5% 30% 0.5%;
  width: 75%;
  position: absolute;
  right: 0%
}

div.conteneur{
  background-color: #C4DFFF;
  margin: 10px 10px 10px 20px;
  padding: 5px;

}
div.conteneur.actif {
  margin: 10px;
}

div.question {
  margin: 10px;
}
div.lib_q {
  background-color: white;
  margin-left: 50px;
}

div.reponse {
  margin: 10px;
  vertical-align: middle;
  width: 100%;
}
div.lib_r {
  background-color: #86ACD9;
  float: inline-start;
  margin-inline-end: 5px;
}
div.reponse_interface {
  margin-left: 10px;
}

input.reponse {
  opacity: 1;
}
input.reponse.gris {
  background-color: gainsboro;
}
input.reponse.sourire {
  background-color: lightgreen;
  opacity: 0.8;
}
input.reponse.tristesse {
  background-color: lightpink;
  opacity: 0.8;
}
span.correction, span.tristesse, span.sourire {
  margin-left: 20px;
}

div.resume {
  background-color: #C4DFFF;
  margin: 10px;
  padding: 10px;
}
